html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(169, 159, 159);
}

#root {
  background-color: rgb(15, 0, 26);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(70, 0, 114, 0.348);
  outline: solid 5px rgb(255, 30, 229);
  height: 60px;
  width: 200px;
  position: fixed;
  bottom: 1%;
  left: 50%;
  translate: -50%;
  border-radius: 10%;
}

.navButton {
  background-color: rgba(175, 0, 223, 0.468);
  border: none;
  height: 100%;
  width: 18%;
  border-left: solid 3px rgb(113, 0, 184);
  border-right: solid 3px rgb(113, 0, 184);
}

.navButton:hover {
  transform: scale(150%);
}

.homeButton {
  border-left: none;
}

.skillsButton {
  border-right: none;
}

.tv {
  width: 46vw;
  height: auto;
  position: relative;
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

.phone {
  position: relative;
  width: 35vw;
  height: auto;
}

.dialWheel {
  position: absolute;
  top: 32%;
  left: 25%;
  width: 54%;
  height: auto;
  animation: rotateDial 18s linear infinite;
}

.icon {
  display: flex;
  position: absolute;
  background: none;
  padding: 0;
  width: 16.5%;
  height: auto;
  border: 1px solid #00c200;
  border-radius: 60%;
  cursor: pointer;
  transition: scale 0.4s ease;
}

.icon:hover {
  width: 20%;
  box-shadow: 0px 0px 8px 5px rgb(108, 255, 3);
  scale: 110%;
}

.twitterIcon {
  top: 11%;
  left: 50%;
  transform: translateX(-50%);
  animation: rotateTwitter 18s linear infinite;
}

.linkedinIcon {
  top: 50%;
  right: 11%;
  transform: translateY(-50%);
  animation: rotateLinkedin 18s linear infinite;
}

.githubIcon {
  bottom: 11%;
  left: 50%;
  transform: translateX(-50%);
  animation: rotateGithub 18s linear infinite;
  background-color: #00c200;
}

.emailIcon {
  top: 50%;
  left: 11%;
  transform: translateY(-50%);
  animation: rotateEmail 18s linear infinite;
}

.profilePic {
  position: absolute;
  top: 41%;
  left: 14%;
  width: 10vw;
  height: auto;
  border-radius: 60%;
}

.profileInfo {
  position: absolute;
  top: 39%;
  left: 37%;
}

.profileName {
  color: blueviolet;
  font-size: 2.4vw;
  font-weight: 700;
}

.profileText {
  color: white;
  font-size: 1.5vw;
  margin: 2px;
}

.profileLocation {
  position: absolute;
  bottom: 13%;
  left: 16%;
  color: white;
  font-size: 1.2vw;
}

.sun {
  width: 20vw;
  height: auto;
  display: flex;
}

.aboutMe {
  width: 12vw;
  height: auto;
  animation: signAnimOne 3s ease-in-out infinite;
}

.phoneMe {
  width: 12vw;
  height: auto;
}

.projects {
  width: 12vw;
  height: auto;
}

.projectItem {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgb(198, 91, 255);
  box-shadow: 0px 0px 8px 5px rgb(162, 0, 162);
  aspect-ratio: 4 / 5;
  width: 10vw;
  height: auto;
  cursor: pointer;
  transition: scale 0.3s ease;
}

.projectItem:hover {
  scale: 1.10;
}

.skills {
  width: 14vw;
  height: auto;
}

.skillIconsContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 55vw;
  gap: 1vw;
}

.skillTextPair {
  border: 1px double rgb(186, 168, 0);
  display: flex;
  flex: 1 1 20%;
  gap: 8%;
  padding: 1%;
  max-width: fit-content;
  align-items: center;
}

.skillTextPair:hover {
  color: white;
}

.react {
  color: rgb(12, 231, 255);
}

.react:hover {
  background-color: rgba(28, 253, 253, 0.4);
}

.node {
  color: rgb(120, 228, 77);
}

.node:hover {
  background-color: rgba(49, 252, 49, 0.376);
}

.mongodb {
  color: #61c100;
}

.mongodb:hover {
  background-color: #4a9e007c;
}

.express {
  color: rgb(186, 186, 186);
}

.express:hover {
  background-color: rgba(255, 255, 255, 0.373);
}

.javascript {
  color: rgb(231, 231, 0);
}

.javascript:hover {
  background-color: rgba(255, 255, 71, 0.419);
}

.git {
  color: rgb(255, 180, 40);
}

.git:hover {
  background-color: rgba(255, 166, 0, 0.351);
}

.html {
  color: rgb(255, 142, 12);
}

.html:hover {
  background-color: rgba(211, 98, 0, 0.499);
}

.css {
  color: rgb(13, 170, 255);
}

.css:hover {
  background-color: rgba(26, 186, 255, 0.367);
}

.python {
  color: rgb(255, 247, 4)
}

.python:hover {
  background-color: rgba(0, 83, 207, 0.427);
}

.figma {
  color: rgb(223, 134, 255);
}

.figma:hover {
  background-color: rgba(162, 63, 255, 0.521);
}

.skill {
  width: 4vw;
  height: 4vw;
}

.skill:hover {
  animation: rotateSkill 1s ease-in-out;
}

.skillText {
  font-family: "Kalam", cursive;
  font-weight: 900;
  font-style: normal;
  font-size: larger;
}

.experience {
  width: 12vw;
  height: auto;
}

.aboutSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 2vw;
}

.contactSection {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  gap: 2vw;
}

.skillsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2vw;
}

.projectsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2vw;
}


@media (max-width:520px) {
  .aboutSection {
    flex-direction: column;
  }

  .aboutMe {
    width: 30vw;
  }

  .tv {
    width: 98vw;
  }

  .phoneMe {
    width: 30vw;
  }

  .phone {
    width: 90vw;
  }

  .contactSection {
    flex-direction: column;
  }

  .skillsSection {
    flex-direction: column;
  }

  .skillIconsContainer {
    max-width: 80vw;
  }

  .skills {
    width: 30vw;
  }

  .skillText {
    font-size: medium;
  }

  .projects {
    width: 30vw;
  }
}

@keyframes rotateSkill {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rotateDial {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateTwitter {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }

  100% {
    transform: translateX(-50%) rotate(-360deg);
  }
}

@keyframes rotateLinkedin {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }

  100% {
    transform: translateY(-50%) rotate(-360deg);
  }
}

@keyframes rotateGithub {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }

  100% {
    transform: translateX(-50%) rotate(-360deg);
  }
}

@keyframes rotateEmail {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }

  100% {
    transform: translateY(-50%) rotate(-360deg);
  }
}

@keyframes signAnimOne {
  0% {
    transform: translateX(-10%);
  }

  50% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(-10%);
  }
}

@font-face {
  font-family: Test1;
  src: url('https://fonts.googleapis.com/css2?family=Jua&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap');
}

.interactionBox {
  position: fixed;
  z-index: 10;
  left: 20%;
  top: 20%;
  width: 50vw;
  height: 60vh;
  background: #03a8f461;
  color: aliceblue;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.interactionBox.closing {
  opacity: 0;
  transform: scale(0.9);
}

.mainContainer {
  position: relative;
  border: none;
  padding: 0%;
  margin: 0%;
  height: 100%;
  width: 100%;
}