html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(169, 159, 159);
}

#root {
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(70, 0, 114, 0.348);
  outline: solid 5px rgb(255, 30, 229);
  height: 60px;
  width: 200px;
  position: fixed;
  bottom: 1%;
  left: 50%;
  translate: -50%;
  border-radius: 10%;
}

.navButton {
  background-color: rgba(175, 0, 223, 0.468);
  border: none;
  height: 100%;
  width: 18%;
  border-left: solid 3px rgb(113, 0, 184);
  border-right: solid 3px rgb(113, 0, 184);
}

.navButton:hover {
  transform: scale(150%);
}

.homeButton {
  border-left: none;
}

.skillsButton {
  border-right: none;
}

.tv {
  width: 60vw;
  height: auto;
  position: relative;
}

.phone {
  position: relative;
  width: 50vw;
  height: auto;
}

.dialWheel {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 54%;
  height: auto;
  animation: rotateDial 18s linear infinite;
}

.icon {
  position: absolute;
  background: none;
  padding: 0;
  border: none;
  width: 16.5%;
  height: auto;
}

.icon:hover {
  width: 20%;
}

.twitterIcon {
  top: 11%;
  left: 50%;
  transform: translateX(-50%);
  animation: rotateTwitter 18s linear infinite;
}

.linkedinIcon {
  top: 50%;
  right: 11%;
  transform: translateY(-50%);
  animation: rotateLinkedin 18s linear infinite;
}

.githubIcon {
  bottom: 11%;
  left: 50%;
  transform: translateX(-50%);
  animation: rotateGithub 18s linear infinite;
}

.emailIcon {
  top: 50%;
  left: 11%;
  transform: translateY(-50%);
  animation: rotateEmail 18s linear infinite;
}

@keyframes rotateDial {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateTwitter {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }

  100% {
    transform: translateX(-50%) rotate(-360deg);
  }
}

@keyframes rotateLinkedin {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }

  100% {
    transform: translateY(-50%) rotate(-360deg);
  }
}

@keyframes rotateGithub {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }

  100% {
    transform: translateX(-50%) rotate(-360deg);
  }
}

@keyframes rotateEmail {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }

  100% {
    transform: translateY(-50%) rotate(-360deg);
  }
}

.profilePic {
  position: absolute;
  top: 41%;
  left: 14%;
  width: 10vw;
  height: auto;
  border-radius: 60%;
}

.profileInfo {
  position: absolute;
  top: 35%;
  left: 34%;
}

.profileName {
  color: blueviolet;
  font-size: 4vw;
}

.profileText {
  color: white;
  font-size: 2.3vw;
  margin: 2px;
}

.profileLocation {
  position: absolute;
  bottom: 11%;
  left: 16%;
  color: white;
  font-size: 2vw;
}

.sun {
  width: 50vw;
  height: auto;
  display: flex;
}

.aboutMe {
  width: 16vw;
  height: auto;
}

.phoneMe {
  width: 16vw;
  height: auto;
}

.projects {
  width: 16vw;
  height: auto;
}

.skills {
  width: 16vw;
  height: auto;
}

.experience {
  width: 20vw;
  height: auto;
}

.aboutSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 2vw;
}

.contactSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 2vw;
}

@media (max-width:720px) {
  .aboutSection {
    flex-direction: column;
  }

  .contactSection {
    flex-direction: column;
  }
}